.skills-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf6e9;
}

.skills-title {
  font-size: 10vw;
  margin: 0;
  color: #494949;
  /* margin-bottom: 20px; */
  margin-top: -5vw;
}

.icon-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  margin: 0 auto;
  text-align: center;
}

.skills-icon {
  font-size: 10vw;
}

.caret-icon3 {
  color: #494949;
  cursor: pointer;
  font-size: 10vw;
}

.animated3 {
  position: absolute;
  animation: MoveUpDown3 1s linear infinite;
}

@keyframes MoveUpDown3 {
  0%,
  100% {
    bottom: -199vh;
  }
  50% {
    bottom: -200.5vh;
  }
}

@media screen and (min-width: 1300px) {
  .skills-icon {
    font-size: 7vw;
  }
}

@media screen and (max-width: 850px) {
  .skills-icon {
    font-size: 10vw;
  }
}

@media screen and (max-width: 600px) {
  .skills-title {
    font-size: 14vw;
    margin: 0;
  }

  .icon-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .skills-icon {
    font-size: 12vw;
  }
}
