.about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ece8d9;
}

.about-title {
  font-size: 10vw;
  margin: 0;
  color: #494949;
}

.about-text {
  width: 60vw;
  font-size: 1.5vw;
  display: inline-block;
  text-align: center;
  color: #494949;
  font-family: "Open Sans", sans-serif;
}

.caret-icon2 {
  color: #494949;
  cursor: pointer;
  font-size: 9vw;
}

.animated2 {
  position: absolute;
  animation: MoveUpDown2 1s linear infinite;
}

@keyframes MoveUpDown2 {
  0%,
  100% {
    bottom: -98vh;
  }
  50% {
    bottom: -99.5vh;
  }
}
