body {
  font-family: "Maven Pro", sans-serif;
}

.contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #faf6e9;
  color: #494949;
}

.contact-title {
  font-size: 6vw;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-family: "Open Sans", sans-serif;
  height: 5vh;
  width: 40vw;
  margin: 10px 0;
  border: 2px solid #494949;
  background-color: #faf6e9;
  font-size: 25px;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

textarea {
  font-family: "Open Sans", sans-serif;
  height: 20vh;
  width: 40vw;
  margin: 10px;
  border: 2px solid #494949;
  background-color: #faf6e9;
  font-size: 25px;
  text-align: center;
}

textarea::placeholder {
  text-align: center;
}

.send-btn {
  height: 5vh;
  width: 40vw;
  color: #faf6e9;
  font-size: 25px;
  border: 2px solid #494949;
  background-color: #494949;
  margin: 10px;
}

@media screen and (max-width: 1150px) {
  .contact-title {
    font-size: 8vw;
    margin-top: 0;
  }

  input {
    font-family: "Open Sans", sans-serif;
    height: 5vh;
    width: 70vw;
    margin: 10px 0;
    border: 2px solid #494949;
    background-color: #faf6e9;
    font-size: 25px;
  }

  textarea {
    font-family: "Open Sans", sans-serif;
    height: 20vh;
    width: 70vw;
    margin: 10px;
    border: 2px solid #494949;
    background-color: #faf6e9;
    font-size: 25px;
  }

  textarea::placeholder {
    text-align: center;
  }
  .send-btn {
    width: 70vw;
  }
}
